.day {
    background-color: #d6d8dc;
    min-height: 20vh;
    padding: calc(8px + 1vmin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(8px + 1vmin);
    color: white;
  }

  .day__oneMeal{
    background-color:  #8b8c8e;
      padding-left: 20px;
      
  }

  .day__plus{
      background-color: #8b8c8e;
  }